<div class="container mx-auto p-4">

  <header role="banner">
    {{ page.header }}
  </header>

  {{ page.primary_menu }}
  {{ page.secondary_menu }}

  {{ page.breadcrumb }}

  {{ page.highlighted }}

  {{ page.help }}

  <main role="main">
    <h1 class="text-2xl">Theme One</h1>
    
  </main>

  {% if page.footer %}
    <footer role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endif %}

</div>{# /.layout-container #}


<script>
  window.onload = function() {
    try{
      getData();
    }catch(err){
      console.log("Error:", err);
    } 
  }

  const getData = async () =>{

    const url = `/d9-restaurant/jsonapi/node/home_page?include=field_home_block_2_image&include=field_home_block_3_col_1_image&include=field_home_block_3_col_2_image&include=field_home_block_3_col_3_image&include=field_home_block_4_image`;

    const data = await fetch(url, {
      method: "GET",
      headers:{
        Accept: 'application/vnd.api+json'
      }
    });
    const jsondata = await response_invoice.json();

    console.log("JSON DATA", jsondata);

  }


</script>
